* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}


footer {
  height: auto;
  width: 100%;
  font-family: "open sans-serif";
  padding-top: 40px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #333;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-title {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-text {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.footer-links-item {
  margin: 0 10px;
  font-size: 1.5rem;
}

.footer-copyright {
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.footer-copyright-text {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: white;
}


